<div class="sign-up-container items-container rounded-md bg-gray-100  p-3  shadow-sm ">

<h1 class="mb-36 font-bold text-center">AllInOne</h1>
<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_user_session_path, class: "mt-5 border-solid border-black hover:bg-blue-400 group flex items-center bg-blue-500 text-white text-sm font-medium pl-32 pr-3 py-2 shadow-sm" %><br />

  <%= link_to "Sign up", new_user_registration_path, class: "sign-up border hover:bg-blue-400 group flex items-center  bg-transparent text-black text-sm font-medium pl-32 pr-3 py-2 shadow-sm" %><br />
<% end %>

</div>    
